{% extends 'base.html' %}
{% block title %}Задача{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}
        {% if perms.webapp %}
            <a href="{% url 'project_update' project.pk%}" class="btn btn-primary">Обновить проект</a>
            <a href="{% url 'project_add' %}" class="btn btn-primary">Добавить проект</a>
            <a href="{% url 'project_delete' project.pk %}" class="btn btn-primary">Удалить проект</a>
            <a href="{% url 'project_user_add' %}" class="btn btn-primary">Добавить пользователя в проект</a>
            <a href="{% url 'project_user_delete' project.pk %}" class="btn btn-primary">Удалить пользователя из проекта</a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Проект</h1>
        <p>Описание проекта: {{ project.title }}</p>
        <p>Подробно о проекте: {{ project.description }}</p>
        <p>Начало: {{ project.start_date }}</p>
        <p>Конец: {{ project.end_date }}</p>
        <p>Задачи:</p>
        {% for task in project.task.all %}
            <div class="blocks">
                 <p>Описание задачи: {{ task.description}}</p>
                 <p>Подробно: {{ task.detailed_description }}</p>
                 <p>
                     <a href="{% url 'task_detail' task.pk %}">Подробнее о задании..</a>
                 </p>
            </div>
            {% empty %}
             <p class="NOT_FOUND">Задачи в проекте не найдены!</p>
        {% endfor %}
    </div>
{% endblock %}