{% extends 'base.html' %}
{% block title %}Удаление{% endblock %}
{% block menu %}
    <a href="{% url 'project_add' %}" class="btn btn-primary">Добавить</a>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Вы точно хотите удалить пользователя?</h1>
        <p>Описание: {{ project.title }}</p>
        <p>Подробно: {{ project.description }}</p>
        <p>Пользователь: {{ project.user }}</p>
        <form action="{% url 'project_user_confirm_delete' user.pk %}" method="post">
            {% csrf_token %}
            <p><input type="submit" value="Удалить"></p>
            <p><a href="{% url 'index' %}">Отмена</a></p>
        </form>
    </div>
{% endblock %}